.gallery-slider-sb-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-slider-sb-layer .gallery-slider-layer-inner:first-child {
    height: 174px;
}

.gallery-slider-sb-layer .gallery-slider-layer-inner:nth-child(2) {
    height: 270px;
}

.gallery-slider-layer-inner .sm-accor-title {
    line-height: normal;
}

.gallery-slider-layer {
    margin: 0 10px;
}

.restaurants-POS {
    padding: 150px 0;
}

.restaurants-POS-content-box .get-started-cta {
    margin-top: 20px;
}

.crafted-enhance-hospitality {
    padding: 92px 0 130px;
}

.crafted-enhance-hospitality-top {
    margin-bottom: 70px;
}

.services-section {
    padding: 59px 0;
    background-color: #F6F6F6;
}

.services-box img {
    margin-bottom: 20px;
}

.services-box .lg-para {
    line-height: normal;
}

.gallery-slider .gallery-slider-layer:nth-child(even) {
    width: 341px;
}
.gallery-slider .gallery-slider-layer:nth-child(odd) {
    width: 591px;
}