* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
}

:root {
  --poppins-font-family: "Poppins";
  --theme-color-blue: #3d52a0;
  --text-color: #343434;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: var(--poppins-font-family);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--theme-color-blue);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color-blue);
}

@media (min-width: 1601px) {
  .container {
    max-width: 1445px;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-30px {
  margin-bottom: 30px;
}

.mt-30px {
  margin-top: 30px;
}

.mb-50px {
  margin-bottom: 50px;
}

.pl-50px {
  padding-left: 50px;
}

.text-dark-gray {
  color: var(--text-color) !important;
}

.border-dark-gray {
  border-color: var(--text-color) !important;
}

.width-fit-content {
  width: fit-content;
}


.primary-btn {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #FFFFFF;
  padding: 5px 20px;
  background: var(--theme-color-blue);
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  border: 1px solid transparent;
}

.primary-btn:hover {
  background-color: #EC5569 !important;
  color: white !important;
  border-color: transparent !important;
}

.primary-btn.btn-2 {
  font-size: 1.4rem;
  padding: 9.5px 25px;
  border-radius: 15px 15px;
}

.build-your-pos-text-area .primary-btn.btn-2:hover {
  color: white;
  border-color: transparent;
}

.banner-title,
.section-title {
  font-style: normal;
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
}

.section-title {
  font-style: normal;
  font-weight: 200;
  line-height: 50px;
  color: var(--text-color);
}

.lg-para {
  font-style: normal;
  font-weight: 200;
  font-size: 2.4rem;
  line-height: 36px;
  color: var(--text-color);
}

.sec-sm-title {
  font-style: normal;
  font-weight: 200;
  font-size: 3.6rem;
  line-height: 50px;
  color: var(--text-color);
}

.sm-accor-title {
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 35px;
  color: var(--text-color);
}

.faqs-section {
  padding: 140px 0 120px;
}

.faq-btn {
  width: 100%;
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: 200;
  font-size: 2.4rem;
  line-height: 50px;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-align: start;
}

.faq-btn i {
  font-size: 1.8rem;
}

.faq-area {
  border-bottom: 1px solid #CACACA;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.faq-area.active .faq-btn {
  color: #3D52A0;
}

.faq-area {
  display: none;
}

.faq-area.visible {
  display: block;
}


.build-your-pos {
  padding: 90px 0;
  background-image: url('../images/build-your-pos-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.build-your-pos::before {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  background: linear-gradient(90deg, #3D52A0 0%, #EC5569 100%);
  height: 100%;
  z-index: -11;
  width: 100%;
}

.both-cta-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.build-your-pos-text-area .primary-btn.btn-2 {
  color: var(--text-color);
  border: 1px solid white;
}

.banner-cta {
  margin-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.breadcrumb-area .breadcrumb .breadcrumb-item,
.breadcrumb-area .breadcrumb .breadcrumb-item a {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 21px;
  color: #3D52A0;
}

.breadcrumb-area .breadcrumb {
  margin-bottom: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #3D52A0;
  content: "-";
}

.full-ser-restaurants-bnner-content .lg-para,
.full-ser-restaurants-bnner-content .lg-para {
  font-weight: 300;
}

.gallery-slider-layer-inner,
.crafted-enhance-hospitality-box {
  position: relative;
  height: 464px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  padding: 20px 19px;
  z-index: 1;
  display: flex;
  justify-content: start;
  align-items: end;
  /* max-width: 591px; */
}

.gallery-slider-layer-inner::before,
.crafted-enhance-hospitality-box::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.75) 82.68%);
  border-radius: 25px;
  z-index: -1;
}

.crafted-enhance-hospitality-box {
  max-width: 100%;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.get-started-cta,
.show-more-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #3D52A0;
  gap: 10px;
  justify-content: center;
  transition: all 0.5s;
}

.show-more-btn {
  background-color: transparent;
  line-height: normal;
  border: none;
}

.get-started-cta:hover,
.show-more-btn:hover {
  color: #EC5569;
}

.gallery-slider-layer-inner.crafted-enhance-hospitality-box .sec-sm-title {
  font-weight: 300;
}

.paidfac-portable-left-inner {
  margin-top: 100px;
}

.paidfac-portable-left-inner .lg-para {
  margin: 30px 0;
}

.para {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: normal;
  color: var(--text-color);
}

/* create custom POD css start */
.create-custom-pos-in-minutes {
  padding: 90px 0 40px;
  background-color: #F6F6F6;
}

.create-custom-pos-slider-btns {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin: 12px 0 30px;
}

.custom-pos-slider-btn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3D52A0;
  color: #3D52A0;
  font-size: 1.8rem;
  background-color: transparent;
  border-radius: 50%;
}

.custom-pos-slider-btn.slick-disabled {
  border: 2px solid #CACACA;
  color: #CACACA;
}

.cus-pos-title {
  font-style: normal;
  font-weight: 200;
  font-size: 4rem;
  line-height: 50px;
  color: var(--text-color);
  margin-bottom: 17px;
}

.cus-pos-in-min-img-area {
  padding: 40px 30px;
  background: radial-gradient(35.97% 50% at 35.97% 41%, #D9D9D9 0%, #EEF0FC 100%);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  height: 435px;
}

.cus-pos-in-min-slidr-layer {
  margin: 0 9px;
}

/* create custom POD css end */

/* pricing section css start */
.pricing-section {
  padding: 100px 0;
  background-color: #F6F6F6;
}

.pricing-section .section-title {
  line-height: 75px;
}

.pricing-radio-area {
  max-width: 347px;
  width: 100%;
  border: 1px solid #CACACA;
  padding: 15px 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricing-radio-label {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 30px;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.pricing-radio-circle {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--text-color);
  position: relative;
  flex-shrink: 0;
}

.pricing-radio-circle::before {
  content: " ";
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}

.pricing-radio-input:checked+.pricing-radio-label .pricing-radio-circle::before {
  height: 13px;
  width: 13px;
}

.yearly-billing-save-tag {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 18px;
  color: #FFFFFF;
  display: inline-block;
  padding: 4px 16px;
  background-color: #EC5569;
  border-radius: 25px;
}

.pricing-box {
  background-color: #EEF0FC;
  padding: 36px 36px 50px;
  min-height: 500px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  transition: all 0.4s ease-in-out;
}

.pricing-box:hover {
  background: #7091E6;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 50px 50px 0px 0px !important;
  position: relative;
  z-index: 1;
  transform: scale(1.1);
  transform-origin: bottom;
}

.pricing-box * {
  transition: all 0.3s ease-in-out;
}

.pricing-box:hover .pricing-box-title,
.pricing-box:hover .pkg-price,
.pricing-box:hover .pkg-validity,
.pricing-box:hover .para {
  color: white;
}

.pricing-box:hover .add-to-cart-cta {
  border: 1px solid white;
  background-color: white;
}

.pkg-price {
  font-style: normal;
  font-weight: 400;
  font-size: 4.8rem;
  color: var(--text-color);
}

.pkg-validity {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--text-color);
}

.add-to-cart-cta {
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 140%;
  color: var(--text-color);
  padding: 9.3px 25px;
  border: 1px solid #CACACA;
  border-radius: 15px;
  background-color: transparent;
  display: inline-block;
}

.pricing-btm-area {
  padding: 34px 0;
  background-color: #EEF0FC;
  text-align: -webkit-center;
  border-top: 1px solid #CACACA;
  border-radius: 0px 0px 50px 50px;
}

.pricing-btm-area .show-more-btn {
  margin-bottom: 10px;
}

.pricing-main .row .col-12.col-md-6.col-lg-4:first-child .pricing-box {
  border-radius: 50px 0 0 0;
}

.pricing-main .row .col-12.col-md-6.col-lg-4:nth-child(2) .pricing-box {
  border-right: 1px solid #CACACA;
  border-left: 1px solid #CACACA;
}

.pricing-main .row .col-12.col-md-6.col-lg-4:nth-child(3) .pricing-box {
  border-radius: 0 50px 0 0;
}

/* pricing section css end */

.all-restaurants-solution,
.pricing-bnner-section,
.contact-us-banner {
  padding: 105px 0 50px;
}

.all-restaurants-solution-content .section-title,
.pricing-bnner-content .section-title {
  line-height: normal;
}

.all-restaurants-solution-content .lg-para,
.pricing-bnner-content .lg-para {
  font-weight: 300;
}

.restaurants-pos-main {
  position: relative;
}

.restaurants-POS-content-box {
  background: #343434;
  border-radius: 25px;
  max-width: 590px;
  width: 100%;
  padding: 65px 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.flexible-hardware-option-box {
  margin-top: 80px;
}

.flexible-hardware-options-top .get-started-cta {
  width: fit-content;
}

.flexible-hardware-options-top {
  text-align: -webkit-center;
}

.cus-pos-in-min-content-area {
  text-align: -webkit-center !important;
}

.flexible-hardware-option-box .get-started-cta {
  width: fit-content;
}

.crafted-enhance-hospitality {
  padding: 92px 0 130px;
}

.crafted-enhance-hospitality-top {
  margin-bottom: 70px;
}

.available-padifac-account {
  background-color: var(--text-color);
  padding: 133px 0;
}

.available-padifac-account-content .section-title {
  line-height: 75px;
}

.available-padifac-account-list {
  margin-top: 10px;
  padding-left: 40px;
}

.available-padifac-account-list-item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.available-padifac-para {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 30px;
  color: white;
}

.available-padifac-account-list-item img {
  height: 24px;
  width: 24px;
}

.available-padifac-account-list-item {
  margin-bottom: 20px;
}

.available-padifac-account-list-item:last-child {
  margin-bottom: 0;
}

.paidfac-portable {
  padding: 90px 0 40px;
}

.paidfac-portable-left-area {
  padding-right: 40px;
}

.paidfac-product-slider-area {
  padding-left: 40px;
}

.pro-bg-circle {
  position: absolute;
  left: -120px;
  top: -90px;
}

.slider-nav-layer.slick-slide.slick-current.slick-active {
  transform: scale(1.3);
  transform-origin: top;
  opacity: 1;
}

.slider-nav-layer.slick-slide {
  transform-origin: bottom;
  transform: scale(0.6);
  opacity: 0.4;
}

.slider-nav .slick-list.draggable {
  height: 600px;
}

.slider-nav {
  margin-top: 20px;
}

.pro-slider-btn-area {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.next-slider-name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: right;
  color: var(--text-color);
}

.pro-slider-btn {
  background-color: transparent;
  border: none;
  color: #3D52A0;
  font-size: 2rem;
}

.point-of-sale-main .paidfac-portable {
  padding-bottom: 90px;
}

/* process section start */
.process-section {
  padding: 100px 0;
  background-color: #F6F6F6;
}

/* process section end */

@media (max-width: 1600px) {
  .slider-nav .slick-list.draggable {
    height: 590px;
  }

  .pro-bg-circle {
    width: 630px;
    height: 630px;
    z-index: -1;
    left: -100px;
  }

  .paidfac-portable-left-area {
    padding-right: 0px;
  }

  .pricing-radio-area {
    padding: 15px 20px;
  }

  .pricing-radio-label {
    gap: 15px;
  }

  .gallery-slider-layer-inner,
  .crafted-enhance-hospitality-box {
    height: 444px;
    padding: 15px 15px;
  }

  .sec-sm-title {
    font-size: 3.4rem;
  }

  .banner-title,
  .section-title {
    font-size: 6.2rem;
  }

  .powerful-pos .section-title.pl-50px {
    padding-left: 30px;
  }

  .paidfac-portable-left-inner {
    margin-top: 80px;
  }

  .para {
    font-size: 1.5rem;
  }
}

@media (max-width: 1500px) {
  .slider-nav .slick-list.draggable {
    height: 530px;
  }

  .slider-nav-layer.slick-slide {
    transform: scale(0.5);
  }

  .pro-bg-circle {
    width: 600px;
    height: 600px;
    left: -90px;
  }

  .paidfac-product-slider-area {
    padding-left: 20px;
  }

  .paidfac-portable-left-inner .sec-sm-title {
    font-size: 3.2rem;
  }

  .paidfac-portable-left-inner .lg-para {
    margin: 20px 0;
  }

  .paidfac-portable-left-inner {
    margin-top: 60px;
  }
}

@media (max-width: 1440px) {
  .available-padifac-account {
    padding: 100px 0;
  }

  .create-custom-pos-in-minutes {
    padding: 70px 0 40px;
  }

  .all-restaurants-solution,
  .pricing-bnner-section,
  .contact-us-banner {
    padding: 80px 0 50px;
  }

  .banner-title,
  .section-title {
    font-size: 6rem;
  }

  .paidfac-portable-left-inner .lg-para {
    font-size: 2rem;
  }

  .flexible-hardware-option-box {
    margin-top: 50px;
  }
}

@media (max-width: 1399px) {
  .pro-slider-btn-area {
    bottom: 0px;
  }

  .slider-nav .slick-list.draggable {
    height: 500px;
  }

  .pro-bg-circle {
    width: 570px;
    height: 570px;
    left: -80px;
    top: -60px;
  }

  .available-padifac-account-content .section-title {
    line-height: 70px;
    font-size: 5.6rem;
  }

  .crafted-enhance-hospitality {
    padding: 70px 0 100px;
  }

  .crafted-enhance-hospitality-top {
    margin-bottom: 50px;
  }

  .pricing-radio-area {
    padding: 15px 10px;
  }

  .pkg-price {
    font-size: 4.6rem;
  }

  .pkg-validity {
    font-size: 2.2rem;
  }

  .pricing-box {
    padding: 36px 30px 40px;
    min-height: 480px;
  }

  .pricing-radio-label {
    font-size: 1.6rem;
    gap: 10px;
  }

  .pricing-radio.gap-4 {
    gap: 10px !important;
  }

  .pricing-section {
    padding: 70px 0;
  }

  .faqs-section {
    padding: 80px 0 80px;
  }

  .build-your-pos {
    padding: 70px 0;
  }

  .paidfac-portable-left-inner .sec-sm-title {
    font-size: 3rem;
  }

  .all-restaurants-solution,
  .pricing-bnner-section,
  .contact-us-banner {
    padding: 60px 0 50px;
  }

  .restaurants-POS-content-box .lg-para {
    font-size: 2rem;
    line-height: 34px;
  }

  .restaurants-POS-content-box {
    max-width: 500px;
    padding: 30px 40px;
  }

  .cus-pos-in-min-img-area {
    padding: 30px 20px;
    height: 410px;
  }
}

@media (max-width: 1366px) {
  .pro-bg-circle {
    width: 540px;
    height: 540px;
    left: -50px;
    top: -50px;
  }

  .slider-nav-layer.slick-slide {
    transform: scale(0.6);
  }
}

@media (max-width: 1280px) {
  .slider-nav .slick-list.draggable {
    height: 400px;
  }

  .pro-bg-circle {
    width: 460px;
    height: 460px;
    left: -60px;
    top: -50px;
  }

  .paidfac-portable-left-area .section-title {
    font-size: 5.5rem;
  }

  .gallery-slider-layer-inner,
  .crafted-enhance-hospitality-box {
    height: 414px;
    padding: 15px 15px;
  }

  .banner-title,
  .section-title {
    font-size: 5.8rem;
    line-height: 70px;

  }

  .paidfac-portable-left-inner {
    margin-top: 40px;
  }

  .paidfac-portable-left-inner .sec-sm-title {
    font-size: 2.8rem;
  }

  .cus-pos-title {
    font-size: 3.5rem;
    margin-bottom: 5px;
  }

  .section-title.mb-30px {
    margin-bottom: 20px;
  }
}

@media (max-width: 1199px) {
  .pro-slider-btn-area {
    bottom: -10px;
  }

  .paidfac-portable {
    padding: 70px 0 20px;
  }

  .available-padifac-account-list {
    padding-left: 10px;
  }

  .available-padifac-account-content .section-title {
    line-height: 60px;
    font-size: 4.8rem;
  }

  .available-padifac-account-list-item {
    margin-bottom: 12px;
  }

  .crafted-enhance-hospitality-box {
    padding: 15px 10px;
  }

  .cus-pos-in-min-img-area {
    height: 380px;
  }

  .pricing-section .section-title {
    line-height: 65px;
  }

  .pricing-section .section-title br {
    display: none;
  }

  .cus-pos-title {
    font-size: 3.2rem;
  }

  .get-started-cta {
    font-size: 1.8rem;
  }

  .cus-pos-in-min-img-area {
    margin-bottom: 30px;
  }

  .full-ser-restaurants-bnner-content .lg-para {
    font-size: 2.2rem;
  }


  .pricing-radio-label {
    font-size: 1.4rem;
    gap: 5px;
    line-height: 20px;
  }

  .pricing-radio-circle {
    height: 20px;
    width: 20px;
  }

  .pricing-radio-input:checked+.pricing-radio-label .pricing-radio-circle::before {
    height: 10px;
    width: 10px;
  }

  .pricing-box {
    padding: 30px 20px 30px;
    min-height: 480px;
  }

  .pkg-price {
    font-size: 4.4rem;
  }

  .pkg-validity {
    font-size: 2rem;
  }

  .pricing-radio-area {
    padding: 10px 5px;
  }

  .restaurants-POS-content-box .lg-para {
    font-size: 1.7rem;
    line-height: 30px;
  }

  .faq-area {
    padding-bottom: 12px;
    margin-bottom: 12px;
  }

  .banner-title,
  .section-title {
    font-size: 5.6rem;
    line-height: 60px;
  }

  .create-custom-pos-in-minutes {
    padding: 60px 0 40px;
    background-color: #F6F6F6;
  }

  .faq-btn {
    font-size: 2.2rem;
    line-height: 30px;
  }

  .restaurants-POS-content-box {
    max-width: 400px;
    padding: 20px 20px;
  }
}

@media (max-width: 1024px) {
  .pro-slider-btn-area {
    bottom: -50px;
  }

  .slider-nav-layer.slick-slide.slick-current.slick-active {
    transform: scale(1);
  }

  .pro-bg-circle {
    width: 460px;
    height: 460px;
    left: 10px;
    top: -50px;
  }

  .gallery-slider-layer-inner,
  .crafted-enhance-hospitality-box {
    height: 394px;
  }

  .banner-title,
  .section-title {
    font-size: 5.3rem;
    line-height: 60px;
  }
}

@media (max-width: 991px) {
  .slider-single {
    text-align: center;
  }

  .slider-single .get-started-cta {
    justify-content: center !important;
  }

  .flex-column-reverse-md {
    flex-direction: column-reverse;
  }

  .listing-img-area {
    margin-bottom: 20px;
  }

  .listing-text-area {
    text-align: center;
  }

  .slider-nav {
    margin-top: 100px;
  }

  .pro-slider-btn-area {
    bottom: unset;
    top: -70px;
  }

  .paidfac-product-slider-area {
    padding-left: 0;
  }

  .slider-nav-layer img {
    margin: 0 auto;
  }

  .slider-nav .slick-list.draggable {
    height: auto;
  }

  .pro-bg-circle {
    display: none;
  }

  .available-padifac-account {
    padding: 60px 0;
  }

  .available-padifac-account-content {
    margin-bottom: 30px;
  }

  .available-padifac-img-area {
    text-align: center;
  }

  .crafted-enhance-hospitality-box {
    margin-bottom: 20px;
    padding: 20px 30px;
  }

  .crafted-enhance-hospitality {
    padding: 50px 0 60px;
  }

  .pricing-box:hover {
    border-radius: 25px !important;
    transform: scale(1);
    transform-origin: center;
  }

  .pricing-box {
    margin-bottom: 20px;
    border-radius: 25px !important;
  }

  .pricing-btm-area {
    padding: 24px 0;
    border-top: none;
    border-radius: 25px 25px 25px 25px;
  }

  .pricing-radio-area {
    padding: 10px 5px;
    margin-top: 20px;
  }

  .pricing-section {
    padding: 50px 0;
  }

  .pricing-section .section-title {
    line-height: 70px;
    text-align: center;
  }

  .pricing-section .mb-50px {
    margin-bottom: 30px;
  }

  .text-webkit-center {
    text-align: -webkit-center;
  }

  .pricing-main .row .col-12.col-md-6.col-lg-4:first-child .pricing-box,
  .pricing-main .row .col-12.col-md-6.col-lg-4:nth-child(3) .pricing-box {
    border-radius: inherit;
  }

  .faqs-section .section-title {
    text-align: center;
  }

  .banner-title,
  .section-title {
    font-size: 5rem;
  }

  .paidfac-portable-left-inner .lg-para {
    margin: 10px 0;
  }

  .paidfac-portable-left-inner {
    margin-top: 20px;
  }

  .lg-para {
    font-size: 2.2rem;
    line-height: 32px;
  }

  .breadcrumb-area .breadcrumb {
    justify-content: center;
  }

  .banner-cta {
    margin-top: 20px;
    justify-content: center;
  }

  .all-restaurants-solution,
  .pricing-bnner-section,
  .contact-us-banner {
    padding: 40px 0 30px;
  }

  .restaurants-POS-content-box {
    max-width: 400px;
    padding: 20px 20px;
    position: unset;
    transform: unset;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .create-custom-pos-in-minutes {
    padding: 50px 0 30px;
    background-color: #F6F6F6;
  }

  .create-custom-pos-slider-btns {
    justify-content: center;
    margin: 10px 0 20px;
  }

  .custom-pos-slider-btn {
    height: 30px;
    width: 30px;
    font-size: 1.6rem;
  }

  .cus-pos-in-min-img-area {
    padding: 20px 20px;
    height: 350px;
    margin-bottom: 20px;
  }

  .cus-pos-title {
    font-size: 3.2rem;
  }

  .faqs-section {
    padding: 50px 0 50px;
  }
}

@media (max-width: 768px) {

  .banner-title,
  .section-title {
    font-size: 4.8rem;
  }
}

@media (max-width: 767px) {
  .available-padifac-account-list {
    padding-left: 0px;
  }

  .available-padifac-account-content .section-title {
    line-height: 50px;
    font-size: 4rem;
  }

  .available-padifac-account-list-item {
    align-items: self-start;
    gap: 10px;
  }

  .available-padifac-account-list-item img {
    margin-top: 5px;
  }

  .flexible-hardware-option-box {
    margin-top: 30px;
  }

  .crafted-enhance-hospitality-box .sec-sm-title {
    font-size: 3.2rem;
  }

  .cus-pos-in-min-img-area img {
    height: 100%;
  }

  .pricing-section .section-title {
    line-height: 40px;
  }

  .show-more-btn {
    font-size: 1.8rem;
  }

  .restaurants-an-edge-box .sec-sm-title {
    text-align: center;
    line-height: 40px;
  }
}

@media (max-width: 575px) {
  .paidfac-portable-left-area .section-title {
    font-size: 4rem;
  }

  .available-padifac-para {
    font-size: 1.8rem;
  }

  .cus-pos-in-min-img-area {
    margin-bottom: 20px;
  }

  .crafted-enhance-hospitality-box .sec-sm-title {
    font-size: 3rem;
  }

  .banner-title,
  .section-title {
    font-size: 4.5rem;
  }

  .primary-btn.btn-2 {
    font-size: 1.1rem;
    padding: 8px 20px;
  }

  .paidfac-portable-left-inner .sec-sm-title {
    font-size: 2.5rem;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  .crafted-enhance-hospitality-box {
    padding: 15px 20px;
  }

  .banner-title,
  .section-title {
    font-size: 4rem;
    line-height: 50px;
  }

  .lg-para {
    font-size: 2rem;
    line-height: 28px;
  }
}

@media (max-width: 414px) {
  .crafted-enhance-hospitality {
    padding: 40px 0 50px;
  }

  .banner-title,
  .section-title {
    line-height: 40px;
  }

  .faq-btn {
    font-size: 2rem;
    line-height: 25px;
  }

  .banner-title,
  .section-title {
    font-size: 3.5rem;
  }

  .crafted-enhance-hospitality-box .sec-sm-title {
    font-size: 2.6rem;
    line-height: 35px;
  }

  .build-your-pos-text-area .banner-title {
    font-size: 3.2rem;
    line-height: 40px;
  }
}

@media (max-width: 375px) {
  .build-your-pos-text-area .banner-title {
    font-size: 3rem;
  }
}