.header {
  padding: 20px 0;
  border-bottom: 1px solid #cacaca;
  background-color: white;
  position: relative;
  z-index: 11;
}

header.header.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  animation: slideDown 0.35s ease-out;
  z-index: 999;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.header-left-area {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.nav-menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.nav-menu-link:hover {
  color: var(--theme-color-blue);
}

.nav-menu-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.cart-icon {
  position: relative;
  display: block;
}

.cart-count {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16D1B2;
  position: absolute;
  top: -2px;
  right: -10px;
  font-size: 0.9rem;
  line-height: 140%;
  color: #FFFFFF;
}

.header-right-area {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}

.nav-menu-item {
  position: relative;
}

.sub-menu {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #00000038;
  position: absolute;
  left: 0;
  top: 25px;
  width: max-content;
  padding: 15px 15px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}

.nav-menu-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}


.sub-menu .sub-menu-item {
  margin-bottom: 10px;
}

.sub-menu .sub-menu-item:last-child {
  margin-bottom: 0;
}

.footer {
  background-color: white;
  padding: 10rem 0 13.8rem;
}

.top-bottom-btn {
  height: 40px;
  width: 40px;
  border: 2px solid #EC5569;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 2rem;
  color: #EC5569;
}

.top-bottom-btn-area {
  text-align: -webkit-right;
}

.footer-logo-area {
  margin-bottom: 45px;
}

.footer-menu-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  color: var(--text-color);
  margin-bottom: 35px;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 21px;
  color: var(--text-color);
}

.footer-nav-list-item {
  margin-bottom: 2px;
}

.footer-hr {
  border: 1px solid #CACACA;
  opacity: 1;
  margin: 50px 0 30px;
}

.language-cta {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: var(--text-color);
  gap: 10px;
}

.copyright-para {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 25px;
  text-align: center;
  color: var(--text-color);
}

.footer-social-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}

.social-link {
  font-size: 2rem;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.social-link:hover {
  color: var(--theme-color-blue);
}

.hamburger-btn {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--theme-color-blue);
  color: white;
  font-size: 1.5rem;
  margin-left: 10px;
}

.mobile-navigation {
  position: fixed;
  background-color: var(--theme-color-blue);
  height: 100vh;
  top: 0;
  left: -200%;
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 40px 30px;
  box-shadow: 10px 0 30px 0 #0000004a;
  transition: all 0.7s ease-in-out;
  overflow-y: auto;
}

.mobile-navigation::-webkit-scrollbar {
  width: 5px;
}

.mobile-navigation::-webkit-scrollbar-track {
  background: transparent;
}

.mobile-navigation::-webkit-scrollbar-thumb {
  background: white;
}

.mobile-navigation::-webkit-scrollbar-thumb:hover {
  background: white;
}

.mobile-navigation.active {
  left: 0;
}

.mobile-nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;
}

.mobile-nav-list .nav-menu-link {
  font-size: 1.5rem;
}

.mobile-nav-close-btn {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: white;
  border-radius: 5px;
  font-size: 1.6rem;
  box-shadow: 0 0 10px 0 #000000b8;
}

.mobile-nav-list-item {
  width: 100%;
}

.mobile-nav-list-item-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-dropdown-btn {
  height: 20px;
  width: 20px;
  background-color: white;
  border: none;
  font-size: 1.4rem;
  border-radius: 3px;
}

ul.mobile-sub-menu-list {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  border-radius: 10px;
}

@media (max-width: 1600px) {
  .footer {
    padding: 8rem 0 10rem;
  }
}

@media (max-width: 1440px) {
  .footer {
    padding: 7rem 0 8rem;
  }
}

@media (max-width: 1399px) {
  .nav-menu-link {
    font-size: 1.3rem;
  }

  .footer {
    padding: 7rem 0 8rem;
  }
}

@media (max-width: 1199px) {
  .nav-menu-list {
    gap: 12px;
  }

  .header-right-area {
    gap: 12px;
  }

  .footer-menu-title {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }

  .footer-link {
    font-size: 1.3rem;
  }

  .footer {
    padding: 6rem 0 7rem;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 15px 0;
  }

  .footer-menu {
    margin-bottom: 20px;
  }

  .footer-hr {
    margin: 20px 0 20px;
  }

  .footer-menu-title {
    margin-bottom: 20px;
  }

  .footer-logo-area {
    margin-bottom: 40px;
  }

  .top-bottom-btn {
    height: 35px;
    width: 35px;
    font-size: 1.8rem;
  }

  .ordr-1 {
    order: 1;
  }

  .copyright-para {
    margin-top: 10px;
  }

  .footer {
    padding: 5rem 0 5rem;
  }

}

@media (max-width: 575px) {
  .footer-social-list {
    justify-content: center;
    gap: 20px;
  }

  .language-cta {
    justify-content: center;
  }

  .language {
    margin-bottom: 15px;
  }

  .footer-logo-area {
    margin-bottom: 30px;
  }

  .top-bottom-btn {
    height: 30px;
    width: 30px;
  }

  .primary-btn {
    padding: 5px 15px;
  }

  .header-right-area {
    gap: 10px;
  }

  .mobile-navigation {
    width: 100% !important;
  }
}

@media (max-width: 360px) {
  .header-right-area {
    gap: 5px;
  }
}