.pricing-tabs-area {
    margin-bottom: 50px;
}

.pricing-tabs-btn {
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 140%;
    color: var(--text-color);
    padding: 9.5px 25px;
    border: 1px solid #CACACA;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.pricing-tabs-btn:hover {
    background-color: var(--theme-color-blue);
    color: white;
    border-color: var(--theme-color-blue);
}

.pricing-tabs-list {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.pricing-tabs-btn.active {
    background-color: var(--theme-color-blue);
    color: white;
    font-weight: 600;
    border-color: var(--theme-color-blue);
}

.pricing-main {
    display: none;
}

.pricing-main.active {
    display: block;
}

.available-padifac-account {
    background-color: var(--text-color);
    padding: 133px 0;
}

.available-padifac-account-content .section-title {
    line-height: 75px;
}

.available-padifac-account-list {
    margin-top: 10px;
    padding-left: 40px;
}

.available-padifac-account-list-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.available-padifac-para {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 30px;
    color: white;
}

.available-padifac-account-list-item img {
    height: 24px;
    width: 24px;
}

.available-padifac-account-list-item {
    margin-bottom: 20px;
}

.available-padifac-account-list-item:last-child {
    margin-bottom: 0;
}


/* product page css */

.pos-equipment-section {
    padding: 90px 0;
}

.custom-pos-img {
    margin: 80px 0 30px;
}

.flex-hardware-options-section {
    padding: 90px 0;
}

@media (max-width: 1440px) {
    .flex-hardware-options-section {
        padding: 40px 0 60px;
    }

    .available-padifac-account {
        padding: 100px 0;
    }
}

@media (max-width: 1399px) {
    .available-padifac-account-content .section-title {
        line-height: 70px;
        font-size: 5.6rem;
    }

    .pos-equipment-section {
        padding: 70px 0;
    }

    .flexible-hardware-option-box .cus-pos-in-min-img-area {
        height: 370px;
    }
}

@media (max-width: 1199px) {
    .available-padifac-account-list {
        padding-left: 10px;
    }

    .available-padifac-account-content .section-title {
        line-height: 60px;
        font-size: 4.8rem;
    }

    .available-padifac-account-list-item {
        margin-bottom: 12px;
    }
}

@media (max-width: 991px) {
    .pricing-tabs-area {
        margin-bottom: 40px;
        text-align: center;
    }

    .pricing-tabs-list {
        justify-content: center;
    }

    .pricing-bnner-content {
        text-align: center;
    }

    .available-padifac-account {
        padding: 60px 0;
    }

    .available-padifac-account-content {
        margin-bottom: 30px;
    }

    .available-padifac-img-area {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .pricing-tabs-btn {
        font-size: 1.2rem;
        padding: 9.5px 10px;
    }

    .pricing-tabs-list {
        flex-wrap: wrap;
    }

    .available-padifac-account-list {
        padding-left: 0px;
    }

    .pricing-bnner-section {
        padding: 40px 0 10px;
    }

    .pos-equipment-section {
        padding: 50px 0 30px;
    }
}

@media (max-width: 575px) {
    .available-padifac-para {
        font-size: 1.8rem;
    }
}

@media (max-width: 414px) {
    .available-padifac-account-content .section-title {
        line-height: 50px;
        font-size: 4rem;
    }

    .available-padifac-account-list-item {
        align-items: self-start;
        gap: 10px;
    }

    .available-padifac-account-list-item img {
        margin-top: 5px;
    }
}

@media (max-width: 375px) {
    .flexible-hardware-option-box .cus-pos-in-min-img-area {
        height: 340px;
    }
}