.pricing-tabs-area {
    margin-bottom: 50px;
}

.pricing-tabs-btn {
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 140%;
    color: var(--text-color);
    padding: 9.5px 25px;
    border: 1px solid #CACACA;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.pricing-tabs-btn:hover {
    background-color: var(--theme-color-blue);
    color: white;
    border-color: var(--theme-color-blue);
}

.pricing-tabs-list {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.pricing-tabs-btn.active {
    background-color: var(--theme-color-blue);
    color: white;
    font-weight: 600;
    border-color: var(--theme-color-blue);
}

.pricing-main {
    display: none;
}

.pricing-main.active {
    display: block;
}

/* product page css */

.pos-equipment-section {
    padding: 90px 0;
}

.custom-pos-img {
    margin: 80px 0 30px;
}

.flex-hardware-options-section {
    padding: 90px 0;
}

@media (max-width: 1440px) {
    .flex-hardware-options-section {
        padding: 40px 0 60px;
    }

}

@media (max-width: 1399px) {

    .pos-equipment-section {
        padding: 70px 0;
    }

    .flexible-hardware-option-box .cus-pos-in-min-img-area {
        height: 370px;
    }
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .pricing-tabs-area {
        margin-bottom: 40px;
        text-align: center;
    }

    .pricing-tabs-list {
        justify-content: center;
    }

    .pricing-bnner-content {
        text-align: center;
    }

}

@media (max-width: 767px) {
    .pricing-tabs-btn {
        font-size: 1.2rem;
        padding: 9.5px 10px;
    }

    .pricing-tabs-list {
        flex-wrap: wrap;
    }

    .pricing-bnner-section {
        padding: 40px 0 10px;
    }

    .pos-equipment-section {
        padding: 50px 0 30px;
    }
}

@media (max-width: 575px) {}

@media (max-width: 414px) {}

@media (max-width: 375px) {
    .flexible-hardware-option-box .cus-pos-in-min-img-area {
        height: 340px;
    }
}